/*--------------------
    VARIABLES
--------------------*/

:root {

  /* color  */
  --white: #ffffff;
  --white-bg: #f8f9fa;
  --grey-bg-search: #e5e5e5;
  --darkgrey-icons: #5b5858;
  --white-bg-title: #f7f7f7;
  --bluegrey-title: #212529;
  --lightblue-header: #1b72e8;
  --darkblue-header: #165bba;
  --blue-link: #217afd;
  --blue-sidebar: #051e34;
  --orange: #ff8f00;

  /* height  */
  --height-topbar: 70px;
  --height-nav: 40px;

  /* width  */
  --width-sidebar: 70px;

}


/*--------------------
    GENERAL
--------------------*/

html {
  font-family: 'Roboto', sans-serif;
}

#topbar {
  height: var(--height-topbar);
  background-color: var(--white-bg);
}

#sidebar {
  width: var(--width-sidebar);
  height: calc(100vh - var(--height-topbar));
}

#dashboard {
  width: calc(100% - var(--width-sidebar));
  height: calc(100vh - var(--height-topbar));
}

/* TOPBAR  */
header {
  background-color: var(--white-bg);
  height: 70px;
  padding: 15px 0;
}

#topbar {
  background-color: var(--white);
  height: 40px;
  padding: 0 10px;
}

#topbar .search {
  flex-grow: 3;
}

#topbar .logo img:first-child {
  height: 40px;
}

#topbar .logo img:last-child {
  height: 25px;
}

#topbar .search span {
  height: 100%;
  border-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: var(--grey-bg-search);
}

#topbar .search input {
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: var(--grey-bg-search)
}

#topbar .icons i {
  color: var(--darkgrey-icons);
}

#topbar .icons i.fa-bell {
  color: var(--orange);
}

/* SIDEBAR  */

#sidebar {
  background-color: var(--blue-sidebar);
  background-image: url("../img/sidebar-bg.png");
}

#sidebar i {
  width: 25px;
}

/* DASHBOARD top */

#dashboard .top {
  background-color: var(--lightblue-header);
  color: var(--white);
}

#dashboard .top i {
  width: 40px;
  height: 40px;
  font-size: 30px;
  border: 1px solid white;
  border-radius: 4px;
  text-align: center;
  line-height: 31px;
}




/* DASHBORAD main  */

#dashboard .main {
  background-color: var(--white-bg);
  color: var(--bluegrey-title);
}

#dashboard .img-avatar {
  height: 30px;
}
 

#dashboard .a-btn {
  display: inline-block;
  line-height: 30px;
  text-align: center;
  width: 30px;
  height: 30px;
  color: grey;
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 4px;
} 







/* MEDIAQUERY */

@media screen and (min-width:992px) {
  :root {
    --width-sidebar: 150px;
  }
}